/* Body & Wrapper */
body {
		font-family: Arial, Helvetica, sans-serif;
		background-color: #C3C3C3;
}
.wrapper {
		max-width:1100px;
		margin:0 auto;
		background-color: #eee;
		box-shadow: 0 0 5px #666;
}
.content {
		margin: 20px;
}
/* Header top */
.top-header {
		background-color: #C3C3C3;
		height: 110px;
}
h1 {
		text-align: center;
		padding: 25px 0;
}
.logo {
		float: left;
		margin-top: 5px;
		width: 200px;
}
/* Navigation bar, top */
nav {
		position: relative;
		z-index: 1;
}
.navigation-top {
		list-style-type: none;
		margin: 0 0 10px 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		box-shadow: 5px 5px 5px grey;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
}
.nav-content {
    	float: left;
}
.nav-content a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}
.nav-content a:hover, .dropdown:hover .dropbtn {
    	background-color: #898B90;
}
li.dropdown {
  		display: inline-block;
}
.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 5px 12px 0px #AEAEAE;
}
.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
}
.dropdown-content a:hover {
		background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
		display: block;
}
.active {
		background-color: #838383;
}
/* Slideshow */
.size-slideshow {
		width: 495px;
		height: 370px;
}
.slideshow {
		position: relative;
		max-width: 495px;
		height: 370px;
		margin: 5em auto .5em auto
}
.slideshow figure {
		margin: 0;
		position: absolute;
}
figure:nth-child(1) {
   		animation: xfade 24s 18s infinite;
}
figure:nth-child(2) {
		animation: xfade 24s 12s infinite;
}
figure:nth-child(3) {
		animation: xfade 24s 6s infinite;
}
figure:nth-child(4) {
		animation: xfade 24s 0s infinite;
}
@keyframes xfade {
   0%{
		opacity: 1;
   }
   10.5% {
      	opacity:1;
   }
   12.5%{
      	opacity: 0;
   }
   98% {
      	opacity:0;
   }
   100% {
      	opacity:1;
   }
}
/* Footer */
footer {
		margin: 2px;
		padding: 2px;
		background-color: #AEAEAE;
		text-align: center;
}